<div class="pwd-strength" *ngIf="password">
  <div class="pwd-strength__bars">
    <span class="pwd-strength__bar"
      [class.pwd-strength__bar--active]="strength >= 1"
      [class.pwd-strength__bar--weak]="strength === 1"></span>
    <span class="pwd-strength__bar"
      [class.pwd-strength__bar--active]="strength >= 2"
      [class.pwd-strength__bar--fair]="strength === 2"></span>
    <span class="pwd-strength__bar"
      [class.pwd-strength__bar--active]="strength >= 3"
      [class.pwd-strength__bar--good]="strength === 3"></span>
    <span class="pwd-strength__bar"
      [class.pwd-strength__bar--active]="strength >= 4"
      [class.pwd-strength__bar--strong]="strength === 4"></span>
  </div>
  <span class="pwd-strength__label">{{ label }}</span>
</div>
