<nav class="sidebar">
  <a routerLink="/dashboard/metricas" routerLinkActive="sidebar__item--active" class="sidebar__item" title="Panel">
    <ng-icon name="heroChartBar" size="20"></ng-icon>
  </a>
  <a routerLink="/dashboard/seguridad" routerLinkActive="sidebar__item--active" class="sidebar__item" title="Seguridad">
    <ng-icon name="heroLockClosed" size="20"></ng-icon>
  </a>
  <div class="sidebar__spacer"></div>
  <div class="sidebar__item sidebar__item--settings" title="Configuración">
    <ng-icon name="heroCog6Tooth" size="20"></ng-icon>
  </div>
</nav>
